name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

defaults:
  run:
    shell: bash -l {0}

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.13']
        env: [base]
        include:
        - os: macos-latest
          python-version: '3.12'
          env: base
        - os: windows-latest
          python-version: '3.12'
          env: base
        - os: ubuntu-latest
          python-version: '3.12'
          env: torch
        - os: ubuntu-latest
          python-version: '3.12'
          env: jax
        - os: ubuntu-latest
          python-version: '3.12'
          env: tensorflow

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.6.x"

      - name: Install python
        run: uv python install ${{ matrix.python-version }}

      - name: Setup uv project
        run: uv sync

      - name: Install dependencies
        run: uv pip install -r ci/requirements/${{ matrix.env }}.txt

      - name: Test with pytest
        run: uv run pytest --cov=autoray tests/ --cov-report=xml tests

      - name: Report to codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

